importFrom(httr, HEAD ,GET, content)
importFrom(httpuv,encodeURIComponent)
importFrom(sys,exec_background,exec_wait)
importFrom(tools,pskill)
importFrom(stringi,stri_trim)

export(bbBuildData,bbClearData,bbStart,bbStop,bbListGenomes,bbSearch,bbMapFilter,bbEntry,bbEntryFilter,bbEntryPage,bbURL,bbAttr)
exportClasses(bbConfig)
