importFrom(httr,HEAD,content,GET)
importFrom(httpuv,encodeURIComponent)
importFrom(jsonlite,fromJSON)
importFrom(stringi,stri_trim)
importFrom(methods, new)
importFrom(utils, download.file, untar, unzip)

export(bbBuildData,bbStart,bbStop,bbListGenomes,bbListDatasets,bbSearch,bbMapFilter,bbEntry,bbEntryFilter,bbEntryPage,bbURL,bbAttr)
exportClasses(bbConfig)
