importFrom(httr,HEAD,content,GET)
importFrom(httpuv,encodeURIComponent)
importFrom(jsonlite,fromJSON)
importFrom(stringi,stri_trim)

export(bbBuildData,bbClearAll,bbStart,bbStop,bbListGenomes,bbSearch,bbMapFilter,bbEntry,bbEntryFilter,bbEntryPage,bbURL,bbAttr)
exportClasses(bbConfig)
